// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color codes
$primary-brown: #543b2b;
$secondary-brown: #f5e9d2;

$secondary-brown-darker: #d9caad;
$light-blue: #a7d2eb;
$light-green: #74b7a0;
$light-brown: #b6977d;