// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Color codes
$primary-brown: #543b2b;
$secondary-brown: #f5e9d2;
