@import "resources/css/common/common.css";

.icon-header {
    display: flex;
    border-radius: 12px;
    padding: var(--section-padding);
    align-items: center;
    background-color: #fff;
    text-align: left;
}

.icon-header.brown {
    background-color: var(--light-brown);
    color: #fff;
}

.icon-header img {
    width: 40px;
    height: 40px;
    margin-right: var(--section-padding-sm);
}

.icon-header h1 {
    margin: 0;
}